.topnav {
  background-color: #1e2167;
  overflow: hidden;
  display: flex;
}

/* Style the links inside the navigation bar */
.navbar a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.navbar a:hover {
  background-color: #408ec6;
  color: black;
}

/* Add a color to the active/current link */
.navbar a.active {
  background-color: #12a4d9;
  color: #322e2f;
}

.logo {
  width: 20%;
  height: auto;
  margin-right: 50%;
}

.footer {
  background-color: #1e2167;
  color: #f2f2f2;
  width: 100%;
  bottom: 0;
  position: fixed;
}

#home, #about, #contact {
  display: none;
  background-color: #98c1d9 ;
  padding: 20px;
  height: 100%;
}

.body{
  background-color: #98c1d9 ;
}
.contact-list {
  list-style: none;
  padding: 0;
}

.contact-list li {
  margin-bottom: 10px;
}

.contact-list a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #333;
}

.contact-icon {
  width: 24px;
  height: 24px;
  margin-right: 10px;
}

.contact-list a:hover {
  color: #007bff; /* Change the color on hover to make it interactive. */
}